<nav class="nav">
  <a class="nav-brand" href="/">
    <span>Kai Ase Siren</span>
    <small>platform engineer</small>
  </a>
  <div id="navbar-links">{% include "components/links.njk" %}</div>
</nav>
