@import "vars.scss";
@import "fonts.scss";

.header {
  text-align: center;
  line-height: 2em;
  letter-spacing: 0.1em;
  height: 35em;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: $mid-purple;
  top: 0;
  position: absolute;

  h2 {
    margin-top: 2.8em;
    font-size: 2.4em;
    font-weight: normal;
    color: $white;
    line-height: 1em;
    letter-spacing: 0;
    font-family: $playfair;
    margin-bottom: 0.2em;
    @include tablet {
      font-size: 3.1em;
    }
  }

  h4 {
    font-family: $open-sans;
    color: #ffffff81;
    font-size: 1.1em;
    letter-spacing: 0.15em;
    @include tablet {
      font-size: 1.2em;
    }
  }
}

.homepage-container {
  width: 100%;
  height: auto;
  position: relative;
  top: 23em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    top: 27em;
  }
}

.homepage-list {
  width: 100%;
  height: auto;
  @include tablet {
    width: 86%;
  }
}

.homepage-post {
  margin-bottom: 1.5em;
  background-color: $white;
  width: 100%;
  padding-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  @include tablet {
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
  }

  h2 {
    text-align: center;
    color: $dark-purple;
    font-family: $grotesque;
    letter-spacing: 0.02em;
    margin: 0.2em;
    font-size: 2em;
  }

  h4 {
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    color: $mid-purple;
    margin: 0.6em;
    margin-top: 0.2em;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    line-height: 1.8em;
    color: $dark-purple;
    font-size: 1.15em;
    padding: 0.6em;
    @include tablet {
      text-indent: 40px;
    }
  }
}

.homepage-buttons {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5em 0 1.5em;

  @include tablet {
    display: flex;
    height: 4em;
    align-items: center;
    justify-content: flex-end;
  }

  .star-counter {
    width: 99%;
    height: 2.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #666899;
    border-radius: 0.8em;

    @include tablet {
      width: 5em;
      height: 2em;
      border-radius: 1.5em;
    }

    img {
      height: 70%;
      width: auto;
      margin-right: 0.7em;

      @include tablet {
        margin-right: 0.3em;
      }
    }

    h5 {
      color: $mid-purple;
      font-family: $open-sans;
      letter-spacing: 0.05em;
      font-size: 1.3em;
      margin: 0;

      @include tablet {
        font-size: 1.15em;
      }
    }
  }
  .continue-reading {
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: $mid-purple;
    border-radius: 0.8em;
    height: 2.5em;
    width: 100%;
    letter-spacing: 0.02em;
    font-size: 1.1em;
    color: $white;

    @include tablet {
      width: 12em;
      height: 2.3em;
      margin: 0;
      margin-left: 1em;
      border-radius: 0.7em;
    }
  }
}
