@use "_vars.scss";

nav.nav {
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
  z-index: 10;
  background-color: vars.$mid-purple;
}

.nav-logoName {
  @include vars.tablet {
    font-size: 1em;
    padding-left: 2em;
    padding-bottom: 0.5em;
  }

  img {
    height: 95%;
    width: auto;
    margin-top: 7px;
    margin-right: 0.5em;
  }

  h2 {
    color: white;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    // Font weight defaults to bold, so has to be reset back to normal
    font-weight: normal;
  }
}

#navbar-links {
  width: 100%;

  @include vars.tablet {
    width: 66%;
  }

  @include vars.desktop {
    width: 66%;
  }

  .nav-text {
    display: none;
  }
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;

  .nav-btn {
    display: ruby;
    margin: 6em;
    letter-spacing: 0.15em;
    color: vars.$off-white;
    font-weight: bold;

    @include vars.phone {
      margin: 1em;
    }
  }

  li a {
    text-decoration: none;
    letter-spacing: 0.15em;
    color: vars.$off-white;
    font-size: 1em;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }
}
