@import "_vars.scss";

body {
  margin: 0;
  background: $light-purple;
  background-image: url("../images/background-shapes.svg");
  background-size: 100%;
}

nav {
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  padding-bottom: 0.6em;
  z-index: 10;
  background-color: $mid-purple;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: border-box;
  }
}

.nav-logoName {
  display: flex;
  // Text decoration has to be set to none here, applying it directly to
  // h2 doesn't work for unknown reasons.
  text-decoration: none;
  align-items: center;
  margin: 0.5em;
  height: 2em;

  @include tablet {
    font-size: 1em;
    padding-left: 2em;
    padding-bottom: 0.5em;
  }

  img {
    height: 95%;
    width: auto;
    margin-top: 7px;
    margin-right: 0.5em;
  }

  h2 {
    color: white;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    // Font weight defaults to bold, so has to be reset back to normal
    font-weight: normal;
  }
}

#navbar-links {
  width: 100%;

  @include tablet {
    width: 66%;
  }

  @include desktop {
    width: 33%;
  }

  .nav-text {
    display: none;
  }
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;

  .nav-btn {
    margin: 0 2em;
    letter-spacing: 0.15em;
    text-transform: lowercase;
    color: $off-white;
    font-weight: bold;
  }

  li a {
    text-decoration: none;
    letter-spacing: 0.15em;
    color: $off-white;
    font-size: 1em;
    text-transform: lowercase;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }
}
