@import "vars.scss";
@import "fonts.scss";

.post-purple-block {
  text-align: center;
  line-height: 2em;
  letter-spacing: 0.1em;
  height: 15em;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: $mid-purple;
  top: 0;
  position: relative;
  display: none;

  @include tablet {
    display: flex;
  }
}

ul {
  margin: 0;
}

.post-body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 5em;
  @include tablet {
    top: -5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// In case anyone will want to add a cover image
// .post-cover {
//   margin-top: 4em;
//   width: 100%;
//   height: auto;
//   @include tablet {
//     margin-top: 2em;
//     width: 80%;
//   }
// }

.post-header {
  padding: 0.5em;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #fff;
  color: $dark-purple;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0.6em;
    font-size: 1.7em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    line-height: 1.4em;
  }

  h4 {
    font-family: $open-sans;
    letter-spacing: 0.15em;
    color: $mid-purple;
    text-align: right;
    margin: 0.5em;
  }

  h5 {
    font-family: $open-sans;
    letter-spacing: 0.1em;
    margin: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    color: $mid-purple;
  }

  @include tablet {
    border: 0.2em solid $dark-purple;
    border-top: 1.3em solid $dark-purple;
    border-bottom: none;
    width: 90%;
    padding: 1em;
    h4 {
      letter-spacing: 0.1em;
    }
  }

  @include desktop {
    width: 75%;
    padding: 2em 4em;

    h2 {
      text-align: left;
      font-size: 2em;
      margin-bottom: 0;
    }
    h4 {
      text-align: left;
      margin: 0.6em 0;
      font-size: 1.1em;
    }
    h5 {
      text-align: right;
      font-size: 1em;
      margin: 0;
    }
  }
}

.post-content {
  background: $white;
  width: 100%;
  height: auto;
  padding: 1em;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  color: $dark-purple;
  box-sizing: border-box;

  figcaption {
    text-align: center;
    color: #707070;
    font-style: italic;
  }

  img {
    height: auto;
    width: 100%;
  }

  @include tablet {
    border: 0.2em solid $dark-purple;
    border-bottom: none;
    border-top: none;
    width: 90%;
    padding: 1em 3em;
    img {
      align-self: center;
      height: auto;
      width: auto;
      max-width: 70%;
    }
  }

  @include desktop {
    width: 75%;
    padding: 1em 7em;

    p {
      font-size: 1.15em;
    }
  }
}

// Styling of single ``
p > code {
  background: #fff;
  border-radius: 2em;
  padding: 0.15em;
}

// Styling of triple ```
pre {
  background-color: $dark-purple;
  background-image: url("../images/rows-triangles.svg");
  background-repeat: repeat-x;
  background-size: 150%;
  background-position: top;
  display: flex;
  padding: 2em 0 2em 2em;
  color: $white;
  overflow-x: auto;
}

.about-container {
  position: relative;
  top: -2em;
  color: $dark-purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;

  @include tablet {
    top: -5em;
  }
}

.about-top {
  background: #fff;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;

  h3 {
    margin-right: 1em;
    font-family: $constantia;
    font-size: 1.4em;
  }
  @include tablet {
    width: 90%;
    border: 0.2em solid $dark-purple;
    border-top: none;
    border-bottom: none;
    justify-content: space-around;
  }
  @include desktop {
    width: 75%;
  }
}

.home-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $dark-purple;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-family: $grotesque;
  font-weight: 700;
  img {
    margin: 0 0.5em 0 1em;
    height: 1.4em;
    width: auto;
  }
}

.about-bottom {
  background: #fff;
  padding: 1em 1.5em 3em 1.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  img {
    height: 6em;
    width: auto;
    border-radius: 100em;
    margin-left: 1em;
    @include tablet {
      height: 8em;
      margin-left: 2em;
    }
  }
  @include tablet {
    width: 90%;
    border: 0.2em solid $dark-purple;
    border-bottom: 0.2em solid $dark-purple;
    border-top: none;
    padding: 0 7em;
    padding-bottom: 2em;
    text-align: right;
  }

  @include desktop {
    width: 75%;
    padding: 0 15em;
    padding-bottom: 2em;
  }
}
