@import "vars.scss";
@import "fonts.scss";

.post-body {
  background: $white;
  top: 5.2em;
  height: auto;
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  @include tablet {
    top: 3.3em;
  }
}

.post-cover {
  width: 100%;
  height: auto;
}

.post-header {
  padding: 0.5em;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: $whiter-white;
  color: $dark-purple;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0.6em;
    font-size: 1.7em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    line-height: 1.4em;
  }

  h4 {
    font-family: $open-sans;
    letter-spacing: 0.1em;
    color: $mid-purple;
    text-align: right;
    margin: 0.5em;
  }

  h5 {
    font-family: $open-sans;
    letter-spacing: 0.1em;
    margin: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    color: $mid-purple;
  }
}

.post-content {
  padding: 1em;
  line-height: 2em;
  color: $dark-purple;
  box-sizing: border-box;
}

.highlight {
  background: $whiter-white;
  border-radius: 2em;
  padding: 0.15em;
}

.unordered-list {
  font-size: 1.1em;
  padding: inherit;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.ordered-list {
  font-size: 1.1em;
  padding: inherit;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.h1-title {
  font-family: $playfair;
  font-size: 2.5em;
  letter-spacing: 0.06em;
  margin: 0.5em 0 0.5em 0;
  font-weight: 600;
}
.h2-title {
  font-family: $playfair;
  font-size: 2em;
  letter-spacing: 0.06em;
  margin: 0.5em 0 0.5em 0;
  font-weight: 600;
}
.h3-title {
  font-family: $playfair;
  font-size: 1.5em;
  letter-spacing: 0.06em;
  margin: 0.5em 0 0.5em 0;
  font-weight: 600;
}
.h4-title {
  font-family: $playfair;
  font-size: 1.2em;
  letter-spacing: 0.06em;
  margin: 0.5em 0 0.5em 0;
  font-weight: 600;
}
.h5-title {
  font-family: $playfair;
  font-size: 0.6em;
  letter-spacing: 0.06em;
  margin: 0;
  font-weight: 600;
}

.image-segment {
  margin: 1.5em 0 1.5em 0;
  background: #fff;
  border-radius: 1em;

  img {
    border: #fff solid 0.25em;
    box-sizing: border-box;
  }

  p {
    color: $gray;
    font-family: $grotesque;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    padding: 0 0.5em 1em 0.5em;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
  }
}
