$light-blue: #dff0ea;
$mid-blue: #95adbe;
$mid-purple: #574f7d;
$dark-purple: #4f3a65;
$white: #e0e0e0;

$grotesque: "Darker Grotesque", sans-serif;
$open-sans: "Open Sans Condensed", sans-serif;
$white: #e0e0e0;

// 350px minimum for mobile first

@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
