$breakpoint-md: 750px;
$breakpoint-lg: 1000px;

$color-white-80opacity: rgba(255, 255, 255, 0.8);
$color-black-code-bg: rgba(0, 0, 0, 0.9);
$color-purple: #a722da;
$color-main-background: rgba(100, 100, 100, 0.1);

$article-padding: 20px;

$font-body: "Open Sans", sans-serif;
$font-headers: "Bubblegum Sans", sans-serif;
$font-code: "Inconsolata", monospace;

$shadow-main-background: 4px 4px 1px darken($color-main-background, 80%);

@mixin content-width {
  width: 100%;
  @media (min-width: $breakpoint-md) {
    width: 85%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 70%;
  }
}
