@import "_variables.scss";

article,
article.container {
  @include main-background;
  @include content-width();
  padding: 0;
  margin-bottom: 80px;
  & > * {
    display: block;
    padding-left: $article-padding;
    padding-right: $article-padding;
  }
  & > *:first-child {
    padding-top: $article-padding;
  }
  & > *:last-child {
    padding-bottom: $article-padding;
  }
}

article h2 {
  background-color: $color-white-80opacity;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
