@import "_variables.scss";

article,
article.container {
  @include content-width();
  padding: 0;
  margin-bottom: 80px;
  box-shadow: $shadow-main-background;
  background-color: $color-main-background;

  & > * {
    display: block;
    padding-left: $article-padding;
    padding-right: $article-padding;
  }
  & > *:first-child {
    padding-top: $article-padding;
  }
  & > *:last-child {
    padding-bottom: $article-padding;
  }

  $floaty-size: -3px;

  h2 {
    background-color: $color-white-80opacity;
    box-shadow: $shadow-main-background;
    padding-bottom: 10px;
    padding-left: $article-padding + $floaty-size;
    margin-bottom: 0;
    position: relative;
    top: $floaty-size;
    left: $floaty-size;
  }

  h2 .font-awesome-icon {
    font-size: 1rem;
    color: $color-black-50opacity;
  }

  .description {
    text-align: center;
    padding: 10px;
    background-color: $color-main-background;
    margin-bottom: 15px;
    font-style: italic;
  }

  :not(h2):not(h3):not(h4):not(h5) > a {
    color: $color-purple;
  }
}
