@import "./_variables.scss";

* {
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5 {
  &,
  & * {
    font-family: $font-headers;
    text-align: center;
  }
}

code,
pre {
  &,
  & * {
    font-family: $font-code;
  }
}

@media (min-width: $breakpoint-md) {
  .hide-on-larger {
    display: none;
  }
}

@media (max-width: $breakpoint-md) {
  .hide-on-smaller {
    display: none;
  }
}

.fa-fire {
  color: red;
}

.font-awesome-icon {
  color: black;
  @media (min-width: $breakpoint-md) {
    margin: 2px;
  }
  @media (max-width: $breakpoint-md) {
    font-size: 1.5em;
    margin: 5px;
  }
}
