@import "_variables.scss";

h1 a {
  color: black;
}

header {
  margin-bottom: 60px;
  box-shadow: $shadow-main-background;
  background-color: $color-main-background;

  > * {
    margin: 10px;
  }

  .center-header > * {
    text-align: left;
  }

  @media (min-width: $breakpoint-md) {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 20px;
    }
    
    .social-link-list {
      max-width: 100px;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 10px;

    .favicon {
      display: none;
    }

    .social-link-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
