@import "./../_variables.scss";

article.post {
  padding-bottom: 30px;

  h3 {
    margin: 25px;
  }
  
  h4 {
    margin: 20px;
  }
  
  p,
  ul,
  ol,
  pre {
    margin: 10px auto;
    @include content-width();
  }
  
  hr {
    margin: 20px 40px;
  }  
}
