@import "./../_variables.scss";

article.post {
  padding-bottom: 30px;

  * {
    line-height: 2rem;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin: 25px;
  }

  h4 {
    margin: 20px;
  }

  h3,
  h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: $article-padding * 1.5 - $border-thin-size;
    padding-right: $article-padding * 1.5;
    border-left: $border-thin-white;
    background-color: $color-white-30opacity;
  }

  blockquote {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: $article-padding * 1.5 - $border-thin-size;
    padding-right: $article-padding * 1.5;
    border-left: $border-thin-black;
    background-color: $color-black-5opacity;
    margin: 0 auto;
    font-style: italic;
    @include content-width();

    p {
      margin: 0 auto;
      width: 95%;
    }
  }

  h3,
  h4,
  h5 {
    text-align: left;
    margin: 0 auto;
    @include content-width();
  }

  .description {
    text-align: center;
    padding: 10px;
    background-color: $color-main-background;
    margin-bottom: 15px;
    font-style: italic;
  }

  p,
  :not(li) > ul,
  :not(li) > ol,
  pre {
    margin: 20px auto;
    @include content-width();
  }

  ol li {
    margin: 10px 10px 10px 0;
  }

  hr {
    margin: 20px 40px;
  }
}
