---
layout: layouts/base.njk
---
<section class="{{ contentClass }}">
  <div class="post-header">
    {% if titleHeading == "h2" %}
      <h2>{{ title or site.title }}</h2>
    {% else %}
      <h1>{{ title or site.title }}</h1>
    {% endif %}
    {% if description %}<p class="post-header__lede">{{ description }}</p>{% endif %}
    {% if date %}<p class="post-header__date"><time datetime="{{ date | isoDay }}">{{ date | displayDate }}</time></p>{% endif %}
  </div>
  <div class="post-content">{{ content | safe }}</div>
  {% include "components/closer.njk" %}
</section>
