@import "_variables.scss";

header {
  > * {
    margin: 20px;
  }

  .center-header > * {
    text-align: left;
  }

  @media (min-width: $breakpoint-md) {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    .social-link-list {
      max-width: 100px;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 10px;

    .favicon {
      display: none;
    }
  }
}
