@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body {
  font-family: "Open Sans", sans-serif;
}

body::after {
  content: "";
  background-image: url("assets/background.png");
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
