@import "./../general/_variables.scss";

p {
  margin: 10px auto;
  @include content-width();
}

.query pre {
  color: white;
}

.code-header {
  font-family: "Inconsolata", monospace;
  letter-spacing: 3px;
  color: white;
  background-color: rgba(100, 100, 100, 0.1);
}

.code-subheader {
  color: #0d6797;
  font-weight: bolder;
  font-size: 1.2em;
}

.font-awesome-icon {
  color: #0d6797;
  font-size: 1em;
}

.data-primary-text {
  color: $color-purple;
  padding-left: 4px;
  font-size: 1.1em;
}

.top-bottom-spacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.code-display {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-black-code-bg;
  @include content-width();

  ul {
    list-style: none;
    padding-left: 10px;

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 5px;
    }
  }

  > * {
    flex: 1 1 0;
    @media (min-width: $breakpoint-md) {
      flex-direction: column;
      width: 0;
    }
  }
}

.dual-code-display {
  align-items: stretch;
  justify-content: space-between;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  $dual-code-child-padding: 10px;

  > * {
    padding: $dual-code-child-padding;
  }
}
