body {
  font-family: "Open Sans", sans-serif;
}

.background-image {
  background-image: url("assets/background.png");
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
